.Button {
  align-self: center;
  min-width: 100px;
  border-radius: 50px;
  font-size: 0.9rem;
  padding: 7.5px;
  margin-right: 2px;
  margin-left: 2px;
  background-color: #9d4edd;
  border-color: #9247cf;
  border-width: 1px;
  color: white;
}
.Button:hover {
  background-color: #9247cf;
  border-color: #9d4edd;
  font-weight: 600;
  color: #ffffff;
}
.Button:active:focus {
  border-color: #9247cf;
  transition: color, fill ease-in-out 0.3s;
}
.Button:not(:disabled):not(.disabled):active {
  background-color: #9247cf;
  transform: translateY(1px);
  border-color: #9247cf;
}
.Button:focus {
  background-color: #9247cf;
  border-color: #9247cf;
  box-shadow: none Imp !important;
}

