.DropdownItem {
  display: inline-block;
  max-width: 35%;
  padding: 0px;
  color: gray;
  margin-bottom: 15px;
}

.DropdownItem:hover {
  color: #9d4edd;
}

.DropdownPosition {
  position: absolute;
  right: 0;
  z-index: 99;
}

.DropdownItem i {
  color: #4C23E8;
}
