.NavBar {
  background-color: #242329;
}

.ToggleButton {
  background-color: white;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: #7f3df6;
}
.DropdownMenu:active {
  background-color: rgb(199, 199, 199) !important;
}
a::after {
  display: none !important;
}
a:hover {
  color: #7f3df6;
}