.NavBar {
  background-color: #242329;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.NavbarExpandedIcons {
  margin-right: 7.5%;
}

.LogoutIcon {
  color: rgb(214, 0, 0);
}

.ProfileIcon {
  color: #7f3df6;
}
.ToggleButton {
  background-color: white;
}

.NavLink {
  padding: 5px;
}

.Active i {
  color: #7f3df6;
}
.DropdownMenu:active {
  background-color: rgb(199, 199, 199) !important;
}
a::after {
  display: none !important;
}
a:hover {
  color: #7f3df6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
