.App {
  font-family: "Varela Round", sans-serif;
  color: #414048;
  background-color: #9d4edd;
  min-height: 100vh;
}
.Main {
  padding-top: 81px;
}

.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #dadadf;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #9d4edd;
  fill: #9d4edd;
  transition: color, fill ease-in-out 0.3s;
}

span {
  color: white;
}

span:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #9d4edd;
}

a:hover span,
button:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #9d4edd;
}

i {
  color: white;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover,
button:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #9d4edd;
}
