body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fade-appear-done {
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(1, 0, 0, 1),
    opacity 0.3s cubic-bezier(1, 0, 0, 1);
}

.fade-appear {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(1, 0, 0, 1),
    opacity 0.3s cubic-bezier(1, 0, 0, 1);
}

.psychic {
  -webkit-animation: hue-rotate 5s ease-in;
  animation: hue-rotate 5s ease-in;
}

::-webkit-scrollbar-thumb {
  background-color: #9d4edd;
  background-clip: padding-box;
  border: 2px solid transparent;
}

@keyframes hue-rotate {
  0% {
    background: #9d4edd;
  }
  25% {
    background: #9d4edd;
  }
  50% {
    background: #a63caf;
  }
  75% {
    background: #9d4edd;
  }
  100% {
    background: #9d4edd;
  }
}

i:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

svg:hover {
  animation: gentleshake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  0% { transform: translateX(0) }
  25% { transform: translateY(-9px) }
  35% { transform: translateY(-9px) rotate(17deg) }
  55% { transform: translateY(-9px) rotate(-17deg) }
  65% { transform: translateY(-9px) rotate(17deg) }
  75% { transform: translateY(-9px) rotate(-17deg) }
  100% { transform: translateY(0) rotate(0) }

}
@keyframes gentleshake {
  0% { transform: translateX(0) }
  25% { transform: translateY(-3px) }
  35% { transform: translateY(-3px) rotate(3deg) }
  55% { transform: translateY(-3px) rotate(-3deg) }
  65% { transform: translateY(-3px) rotate(3deg) }
  75% { transform: translateY(-3px) rotate(-3deg) }
  100% { transform: translateY(0) rotate(0) }

}
